.game-details {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  margin-bottom: 5%;

  &__image {
    box-shadow: 0 0 35px #000;
  }

  &__cover {
    position: relative;
    bottom: 100px;
    padding: 5px 10% 0 0;
  }

  &__date {
    padding-bottom: 15px;
  }
  &__section {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
}
